.line-text {
  text-align: center;
  font-size: 25px;
  position: relative;

  &::before, &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 18%;
    height: 1px;
    background-color: #b0b0b0;
  }

  &::before {
    left: 10%;
  }

  &::after {
    right: 10%;
  }
}