.tips {
  display: flex;
  justify-content: flex-end;

  margin: 20px 0px 20px;

  Image {
    width:48px;
    height:48px;
  }
}

.title {
  padding: 10px 0;
  font-size: 28px;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    font-size: 20px;
    font-weight: bold;
    color: #b0b0b0;
    padding: 0 0 0.1rem 10px;
    transform: scale(2, 2);
  }
}

.form {
  &-input {
    Label {
      flex-basis: 140px;
    }
    Picker {
      width: 100%;
    }
    .picker-text {
      width: 100%;
      line-height: 90px;
      font-size: 30px;
    }
  }
}

.card-list {
  margin-top: 40px;
}

.card {
  display: flex;
  align-items: center;

  .cycle {
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
  }

  .class-name {
    margin-left: 15px;
    font-size: 30px;
  }
}

.help-text {
  font-size: 26px;
}