page {
  background-color: rgba(240, 240, 240, 0.5);
}

.tips {
  display: flex;
  justify-content: flex-end;

  margin: 20px 0px 20px;

  Image {
    width:48px;
    height:48px;
  }
}

.arrow {
  font-size: 30px;
  font-weight: bold;
  color: #b0b0b0;
}

.searchPanel {
  position: fixed;

  top: 100%;
  left: 0;

  padding: 0 20px 20px;
  box-sizing: border-box;
  min-width: 100%;
  margin-top: -73px;

  background-color: #fff;

  transition: all 0.5s ease;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.05);


  &.show {
    position: absolute;

    margin-top: 0px;
    top: 10px;
    min-height: calc(100% - 10px);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 20px 5px 5px;

    .title {
      font-size: 30px;
    }

    .arrow {
      font-size: 20px;
      margin-right: 10px;
      transform: scale(2, 1);
    }
  }
}

.year-semester-title {
  padding: 10px 0;
  font-size: 28px;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    padding: 0 0 0.1rem 10px;
  }
}

.form {
  &-input {
    Label {
      flex-basis: 140px;
    }
    Picker {
      width: 100%;
    }
    .picker-text {
      width: 100%;
      line-height: 90px;
      font-size: 30px;
    }
  }
}

.card-list {
  &.online {
    margin-top: 40px;
  }
  &.history {
    margin-top: 30px;

    .card {
      box-shadow: none;

      &:last-child {
        margin-bottom: 5px;
      }

      .right {
        display: flex;
        align-items: center;
      }
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
  }

  .cycle {
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
  }

  .class-name, .save, .del {
    font-size: 30px;
  }

  .class-name {
    margin-left: 15px;
  }

  .save, .del {
    padding: 10px;
  }
}

.help-text {
  font-size: 26px;
}

.none-text {
  text-align: center;
  font-size: 26px;
  margin-top: 30px;
  padding: 20px;
}

.help-tip {
  line-height: 30px;
}