.bg {
  position: fixed;
  z-index: -1;

  width: 100vw;
  height: 100vh;
  
  &.blur {
    // 消除高斯模糊产生的白边
    top: -15px;
    left: -15px;

    width: calc(100vw + 30px);
    height: calc(100vh + 30px);

    filter: blur(10px);
  }
}

.header {
  padding: 5px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;

  &.transparent {
    background-color: transparent;
  }

  .dayDate {
    display: flex;
    align-items: center;
    width: 100%;

    .left-block {
      width: 38px;
      font-size: 25px;
      text-align: center;
      color: #b0b0b0;
    }

    &-item {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: center;

      &__day {
        line-height: 40px;
        font-size: 30px;
        color: #838383;
      }

      &__date {
        height: 30px;
        font-size: 20px;
        color: #b0b0b0;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  padding: 75px 0 10px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;

  &.transparent {
    background-color: transparent;
  }

  .col {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    color: #fff;
    width: 0;

    &.title {
      flex: 0 1 38px;
      background-color: #fff;
      color: #b0b0b0;
      margin: 0 5px 0 0;

      &.transparent {
        background-color: transparent;
      }
    }

    &.course {
      flex: 2;
    }

    .row {
      height: 120px;
      font-size: 20px;
      padding: 0 0.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;

      &.session {
        width: 38px;
        padding: 1px 0;
        margin: 1px 0;
      }

      &.course {
        margin: 2px;
        opacity: 0.6;

        &.transparent {
          opacity: 0.8;
        }
      }

      .course-name {
        word-wrap: break-word;
        font-size: 23px;
        font-weight: bold;

        display: -webkit-box;
        overflow: hidden;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* 源自微吉风 多行溢出省略号 http://t.cn/zWUS0VF */
      }
    }
  }
}

.label {
  font-size: 25px;
  flex:0 0 70px;

  .bold {
    font-weight: bold;
  }
}

.padding20 {
  padding: 0 20px;
}

.form-input {
  height: 50px;
  padding: 10px 0;

  Input {
    font-size: 25px;
  }

  &__placeholder {
    font-size: 25px;
  }
}

.inline {
  display: flex;
  flex-wrap: wrap;
  .btn {
    margin-top: 0;
  }
}

.left {
  flex: 0 0 66.6667%;
}

.right {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 10px;
}

.tips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px;

  .manage {
    color: #4e4e4e;
    font-size: 26px;
  }

  Image {
    fill: #b0b0b0;
    width:32px!important;
    height:32px!important;
  }
}